/* Colors */

.gray          { color: grey !important; border-color: grey !important; }


/* Typography */

h1 {
    text-transform: uppercase;
    /*font-size: 60px;*/
    font-size: 24px;
    /*letter-spacing: 3px;*/
    text-rendering: optimizeLegibility;
    text-align: center;
}

h2 {
    /*text-transform: uppercase;*/
    /*font-size: 36px;*/
    font-size: 18px;
    letter-spacing: 2px;
    /*text-rendering: optimizeLegibility;*/
    /*text-align: center;*/
}

h3, .intro {
    /*font-size: 22px;*/
    font-size: 14px;
    line-height: 36px;
    text-align: center;
}

body {
    font: 18px/28px Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-weight: 200;
}

.small {
    font-size: 16px;
}

@media(max-width: 740px){
    br {
        display: none; /* No forced line breaks in smaller sizes */
    }
    /*
    .modal br {
        display: inline; *//* Except in song lyrics! *//*
    }
    */
}


/* Lists */



/* Links */

a:active,
a:focus,
a:hover {
    text-decoration: underline;
}

a,
.btn {
    color: inherit !important;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

/* Layout */

.container-fluid {
    max-width: 940px;
}
section, header {
    padding-bottom: 40px;
    /*border-bottom: solid 1px lightgray;*/
}

@media(max-width: 1016px){
    .container-fluid {
        margin: 0 4%;
    }
}

.row, .tspacing {
    padding-top: 40px;
}


/* Header */

header {
    position: relative;
    text-align: center;
}



/* Footer */

footer {
    margin-top: 1em;
    margin-bottom: 3em;
}
footer p {
    color: gray;
}

footer a {
    color: #2b2b2b !important;
}


/* Graphs */

.vertical-center {
    min-height: 100%;  /* Fallback for vh unit */
    min-height: 100vh; /* You might also want to use
                        'height' property instead.

                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.

                        In this case the parent of '.vertical-center'
                        is the <body> element */

    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;

    /* In legacy web browsers such as Firefox 9
       we need to specify the width of the flex container */
    /*width: 100%;*/

    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
       hence the bootstrap's container won't be aligned to the center anymore.

       Therefore, we should use the following declarations to get it centered again */
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }



/* Modal */

/*
.modal-content {
    border-radius: 0;
}
.modal-meta {
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
    border-top: 1px solid white;
    padding-top: 10px;
}
*/


/* Code container */

#plotCode {
    /*background-color: rgb(215, 210, 203);*/
}

#ggplotContainer {
    text-indent: -1.5em;
    margin-left:  1.5em;
}

/* Interactive classes */
.interactive {
    color: #46f;
    border-bottom: 1px dashed #46f;
    cursor: pointer;
}

.modifiable {
    font-weight: bold;
}

/* Adders */
.add {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.add-parameter {
    color: #adadad !important;
    border-bottom: 1px dashed #adadad !important;
}


/* Buttons */
.codebutton {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    /*padding-right: 0px;*/
    /*padding-left: 0px;*/

    /*border-left: none;*/
    /*border-right: none;*/
}

/* Plot */
#plotdiv {
    /*border: 2px solid;*/
    vertical-align: middle;
    text-align: center;
}

/* Pop-up */
#element-selector {
    position: absolute;
    left: 0;
    top: 0;

    background-color: #fff;

    border: 2px solid #333;
    padding: 5px;

    /*opacity:0.4;*/
    /*filter: alpha(opacity=40);  *//* For IE8 and earlier */
    /*z-index: 1000; *//* Important to set this */

    display: none;
}
